<html>
<head>
    <title>Index</title>
    <link href="\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid p-5 bg-primary text-white text-center">
        Header
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/Staff/Index">Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Staff/Create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Staff/List">List</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        <h2> Create Page</h2>
        <form action="/action_page.php">
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">First Name:</label>
                <input type="tex" class="form-control" id="fnm" placeholder="Enter First Name" name="fnm">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Last Name:</label>
                <input type="text" class="form-control" id="lnm" placeholder="Enter Last Name" name="lnm">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Gender:</label>
                <input type="text" class="form-control" id="gnd" placeholder="Enter Gender" name="gnd">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Age:</label>
                <input type="number" class="form-control" id="age" placeholder="Enter Age" name="age">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>
